* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    width: 100%;
    background: indianred;
    color: white;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

section {
    width: 70%;
    margin: 0 auto;
}

h2 {
    font-size: 2.5em;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}